{% extends 'base.html' %}
{% block content %}
<div class="session">
    <ul>
        {% for each in blog_types %}
        <li>
            <h2><a href="{% url 'blog:blog_list_by_type' each.blog_type %}?page=1">{{each.blog_type}}</a></h2>
            {% for blog in each.blog_set.all|slice:'10' %}

            <p><a href="{% url 'blog:blog_detail' blog.pk %}">{{blog.title|truncatewords:"30"}}</a></p>

            {% endfor %}
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock content %}


{% block header %}

{% endblock header %}

{% block css %}
<script>
    
</script>
<style>
    

    .contents .session {

        border-radius: 5px;
        margin-bottom: 20px;

    }

    .contents .session ul {
        padding: 0;
        margin: 0;
        overflow: hidden;
        list-style-type: none;
        padding-top: 7px;
    }

    .contents .session ul li {
        float: left;
        box-sizing: border-box;
        width: 240px;
        height: 490px;
        display: block;
        margin: 0 0 7px 7px;
        box-shadow: 0 0 1px 1px #6b6a6a;
        border-radius: 5px;
        padding: 5px;

    }

    .contents .session ul li h2 {
        margin: 5px;
        margin-bottom: 20px;
    }

    .contents .session ul li p:not(:last-child) {
        margin: 5px;
        padding: 2px;
        border-bottom: 1px solid #e4ded8;
    }

    .contents .session ul li p:last-child {
        margin: 5px;
        padding: 2px;
    }

    .contents .session ul li p a {
        color: black;
        line-height: 1em;
    }

   
</style>
{% endblock css %}